body {
  font-family: sans-serif;
  color: white;
  /* position: fixed; */
  overflow: hidden;
}

* {
  margin: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: #131212;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: gray;
}

nav a:hover {
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* home */
#home {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: black;
}

#home h1 {
  color: palegreen;
}

/* auth-form */
#auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#auth-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#auth-form input {
  font-size: 28px;
  padding: 10px;
  margin: 15px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 2px solid black;
  width: 600px;
  background-color: gray;
  color: palegreen;
}

#auth-form input::placeholder {
  font-style: italic;
  color: gainsboro;
}

#auth-form h1 {
  text-align: center;
  letter-spacing: 2px;
  margin: 30px;
  margin-top: 100px;
  color: gray;
}

#auth-form button {
  font-size: 22px;
  height: 50px;
  width: 100px;
  margin: 35px;
  background-color: gray;
  border: none;
  border-radius: 10px;
  color: white;
}

#auth-form button:hover {
  color: gray;
  background-color: palegreen;
}

/* user-home */
#user-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}

#user-home > h2 {
  position: relative;
  right: 135px;
  font-size: 36px;
  color: white;
  margin: 20px;
}

#user-home > form {
  display: flex;
  align-items: center;
  margin: 10px;
}

#user-home > form input {
  font-size: 20px;
  padding: 10px;
  color: palegreen;
  border-radius: 10px;
  border: none;
  background-color: gray;
  font-style: italic;
  letter-spacing: 1px;
  width: 600px;
}

#user-home > form input::placeholder {
  font-style: italic;
  color: gainsboro;
  letter-spacing: 1px;
}

#user-home > form button {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  background-color: #585858;
  color: #8c8b8b;
  cursor: pointer;
}

#user-home > form button:hover {
  opacity: 0.5;
}

#buy-info {
  width: 100%;
}

/* stockheader */
#stock-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  border: none;
}

.up {
  background-color: #52ad52;
}

.down {
  background-color: #a70000;
}

.neutral {
  background-color: #9e9e9e;
}

#stock-header div {
  display: flex;
  width: 100%;
  align-content: center;
}

#stock-header #one h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 10px;
}

#stock-header #two {
  justify-content: space-between;
}
#stock-header #two h1 {
  margin: 10px;
  font-size: 38px;
}
#stock-header #two h2 {
  margin: 10px;
  font-size: 32px;
}

/* StatsInfo */
#stats-info {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  border: none;
  background-color: black;
  height: 250px;
  color: white;
}

#stats-info > h1 {
  margin: 20px;
  margin-bottom: 0px;
}

#stats-info #main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: black;
}

#stats-info #left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

#stats-info #right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.stat {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.stat h3 {
  font-weight: 400;
  color: gray;
}

.stat h4 {
  font-weight: 300;
  color: white;
}

/* BuyStocks */
#buystock {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  border: none;
  background-color: black;
  height: 285px;
  color: white;
}

#buystock > h1 {
  margin: 15px;
  margin-bottom: 5px;
  margin-left: 20px;
}
#buystock > h5 {
  margin: 15px;
  margin-top: 5px;
  margin-left: 20px;
}

#buystock #line {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 25px;
}

#buystock #last-line {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 0px;
}

#buystock #line input {
  text-align: right;
  font-size: 20px;
  width: 90px;
}

#buystock #line input::-webkit-outer-spin-button,
#buystock #line input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*
#buystock button {
  font-size: 28px;
  width: 80px;
  background-color: palegreen;
  border-radius: 10px;
  border: none;
  margin: 5px;
  position: relative;
  left: 910px;
  bottom: 30px;
  cursor: pointer;
}

#buystock button:hover {
  opacity: 0.6;
}

#buystock #buy-notice {
  position: relative;
  bottom: 73px;
  left: 695px;
  width: 190px;
  margin-right: 0px;
} */

#buystock #btn-line {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  margin-right: 10px;
}

#buystock button {
  font-size: 28px;
  width: 80px;
  background-color: palegreen;
  border-radius: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

#buystock button:hover {
  opacity: 0.6;
}

/* transaction */

#transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  /* background-color: black; */
}

#transaction > h1 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 48px;
  margin: 15px;
  margin-top: 10px;
}

#transaction #header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px 15px;
  border-bottom: 1px solid gray;
  padding: 5px 0px;
  padding-bottom: 15px;
}

#transaction #header div {
  color: gray;
  font-size: 20px;
}

#trans-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 65vh;
  width: 100%;
}

#single {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px 15px;
  border-bottom: 1px solid gray;
  padding: 5px 0px;
  padding-bottom: 15px;
}

#transaction .long {
  width: 140px;
}

#transaction .longx {
  width: 200px;
}

#transaction .short {
  width: 60px;
}

#trans-container .short {
  text-transform: uppercase;
}

#trans-container #buy {
  color: green;
}

#trans-container #sell {
  color: red;
}

#transaction .shortx {
  width: 80px;
}

#transaction .med {
  width: 90px;
}

/* portfolio */
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  /* background-color: black; */
}

#portfolio > h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 48px;
  margin: 15px;
  margin-top: 10px;
}

#portfolio #sold {
  margin-bottom: 5px;
  letter-spacing: 1px;
}

#portfolio #main-p {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 610px;
  /* height: 60vh; */
}

#portfolio #main-p #left-p {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 50%;
  margin-right: 2%;
}

#portfolio #main-p #right-p {
  display: flex;
  width: 50%;
}

#portolio button {
  border: none;
}

#portfolio #border {
  border-left: 2px solid gray;
  height: 95%;
  align-self: center;
}

/* stock port header */
#stock-header-port {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 2% 5%;
  border-radius: 10px;
}

#stock-header-port #one {
  display: flex;
  justify-content: space-between;
}

#stock-header-port #two {
  display: flex;
  justify-content: space-between;
}

#stock-header-port h1 {
  margin: 10px;
  font-size: 28px;
}
#stock-header-port h2 {
  margin: 10px;
  font-size: 22px;
}

#stock-header-port:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* sell */
#sell-info {
  width: 100%;
}

/* sell - stock-header */
#sell-info #stock-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 5%;
  border: none;
}

#sell-info #stats-info {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 5%;
  border: none;
  background-color: black;
  height: 250px;
  color: white;
}

/* sell-sellstock */
#sellstock {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 5%;
  border: none;
  background-color: black;
  height: 250px;
  color: white;
}

#sellstock > h1 {
  margin-left: 20px;
}
#sellstock > h5 {
  margin-bottom: 10px;
  margin-left: 20px;
}

#sellstock #line {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 25px;
}

#sellstock #last-line {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 0px;
}

#sellstock #line input {
  text-align: right;
  font-size: 20px;
  width: 90px;
}

#sellstock #line input::-webkit-outer-spin-button,
#sellstock #line input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sellstock #btn-line {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  margin-right: 10px;
}

#sellstock button {
  font-size: 28px;
  width: 80px;
  background-color: palegreen;
  border-radius: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

#sellstock button:hover {
  opacity: 0.6;
}
